Flask
Jinja2
MarkupSafe 
Werkzeug 
blinker 
click
itsdangerous
aniso8601
attrs
flask
jsonschema
jsonschema-specifications
pytz
referencing
rpds-py
flask-sqlalchemy
sqlalchemy
typing-extensions
python-dotenv
autopep8
pycodestyle
iniconfig
packaging
pluggy
pytest
pyparsing
coverage
pytest-cov